<template>
  <div>
    <div>
      <InputFilterAuthor @updateFilter="updateFilter" />
    </div>
    <div v-if="!wallpapers" id="error-msg">There isn't wallpapers of this author, try another</div>
    <div v-else>
      <v-row>
        <v-col v-for="(wallpaper, idx) in wallpapers" :key="idx" cols="12" sm="4">
          <Wallpaper :wallpaperObject="wallpaper" />
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import Api from '../services/Api';
import Wallpaper from '../components/Wallpaper';
import InputFilterAuthor from '../components/InputFilterAuthor';

export default {
  name: 'Home',
  data () {
    return {
      wallpapers: []
    };
  },
  created () {
    Api.getAllWallpapers().then(res => {
      this.wallpapers = res
    })
  },
  components: {
    Wallpaper,
    InputFilterAuthor
  },
  methods: {
    updateFilter (filter) {
      if (filter) {
        Api.getWallpapersbyauthor(filter).then(
          response => (this.wallpapers = response)
        )
      } else {
        Api.getAllWallpapers().then(res => {
          this.wallpapers = res
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#error-msg {
  font-size: 2rem;
  text-align: center;
  margin-top: 30vh;
  opacity: 0.5
}
</style>
