<template>
  <div>
   <v-card class="mx-5 mb-5" max-width="344">
    <v-img :src="wallpaper.download_url" height="200px"></v-img>
    <v-card-title>{{ wallpaper.author }}</v-card-title>
     <v-card-subtitle>
      Width:{{wallpaper.width}}
      Heigth:{{wallpaper.height}}
    </v-card-subtitle>
  </v-card>
  </div>
</template>

<script>
import Api from "../services/Api";

export default {
  data() {
    return {
      wallpaper: {}
    };
  },
  mounted() {
    Api.getOneWallpaper(this.$route.params.id).then(
      response => (this.wallpaper = response)
    );
  }
};
</script>

<style lang="scss" scoped></style>
