<template>
  <div>
    <v-row class="ml-5">
      <v-col cols="8">
        <v-radio-group v-model="radioGroup">
          <v-radio v-for="size in sizes" :key="size" :label="`Size ${size}`" color="blue" :value="size" @click="updateRadioButton"></v-radio>
        </v-radio-group>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'InputFilter',
  data () {
    return {
      radioGroup: '',
      sizes: ['small', 'large']
    }
  },
  methods: {
    updateRadioButton (radioGroup) {
      this.$emit('RadioButton', this.radioGroup)
    }
  }
}
</script>

<style lang='scss' scoped>
.text {
  font-size: 1.5rem;
}
</style>