<template>
  <div>
    <v-row class="ml-5">
      <v-col cols="8">
        <v-text-field
          v-model="filter"
          @keypress="updateFilter"
          label="Filter by author (press Enter to modify the filter)"
          required
        ></v-text-field>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'InputFilter',
  data () {
    return {
      filter: ''
    }
  },
  methods: {
    updateFilter (e) {
      if (e.key === 'Enter') {
        this.$emit('updateFilter', this.filter)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.text {
  font-size: 1.5rem;
}
</style>
