<template>
  <div>
    <v-app-bar color="blue darken-1" dense dark>
      <v-toolbar-title>Reboot Wallpapers</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="goHome">
        <v-icon>mdi-home</v-icon>
      </v-btn>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  methods: {
    goHome() {
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss" scoped></style>