<template>
  <v-card class="mx-5 mb-5" max-width="344" @click="showthisWallpaper">
    <v-img :src="wallpaperObject.download_url" height="200px"></v-img>
    <v-card-title>{{ wallpaperObject.author }}</v-card-title>
     <v-card-subtitle>
      Width:{{wallpaperObject.width}}
      Heigth:{{wallpaperObject.height}}
    </v-card-subtitle>
  </v-card>
</template>

<script>
export default {
  name: "Wallpaper",
  props: {
    wallpaperObject: Object
  },
  methods: {
    showthisWallpaper() {
      this.$router.push(`/wallpaper/${this.wallpaperObject._id}`);
    }
  }
}
</script>


